.player_main > h1 {
  font-size: 3.2rem;
  margin-bottom: 4.8rem;
  color: #fff;
}

.players_compare_section {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1.2rem;
}

.player_attributes {
  padding: 1.2rem 1.8rem;
  border-radius: 1rem;
  color: #fff;
  font-size: 1.6rem;
  grid-column: span 2;
  grid-row: 1 / 2;
}

.radarPlot {
  position: relative;
  grid-column: 7 / 11;
  grid-row: 1 / 4;
  background-color: #d3d3d310;
  border-radius: 1rem;
  padding: 1.2rem 2.4rem;
  color: #fff;
  fill: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

#radarPlotContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player_attributes.first {
  background-color: #c92a2a;
}
.player_attributes.second {
  background-color: #51cf66;
}
.player_attributes.third {
  background-color: #1864ab;
}

.player_attributes > li > p {
  font-weight: bold;
}

.player_attributes > li > p > span {
  font-weight: normal;
  margin-left: 1rem;
}

.player_attributes > li > p > a {
  font-weight: normal;
  margin-left: 1rem;
}

.player_attributes > li > p > a:link,
.player_attributes > li > p > a:visited {
  font-weight: normal;
  margin-left: 1rem;
  text-decoration: underline;
  transition: all 0.3s;
  color: #fff;
}

.player_attributes > li > p > a:hover,
.player_attributes > li > p > a:active {
  color: rgba(230, 125, 34, 1);
}

#radarPlotContainer {
  position: relative;
}

.teste tspan {
  color: #fff;
  fill: #fff;
}

text.title {
  font-size: 22px;
  font-weight: 600;
  margin-top: 200px;
}
