.main > main > h1 {
  color: #fff;
  font-size: 4.8rem;
  margin-bottom: 9.6rem;
}

.player_input {
  width: 50rem;
  padding: 1.2rem 2.4rem;
  font-size: 2.2rem;
  background-color: #ececec;
  border-radius: 1rem;
  color: #fd7e14;
  font-weight: bold;
  border: 0;
  margin-bottom: 4.8rem;
}

.player_input::placeholder {
  color: rgba(230, 125, 34, 0.8);
}

.player_input:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5);
}

.players_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  flex-wrap: wrap;
  margin-bottom: 7.2rem;
}

.plist-item {
  color: #fff;
  font-size: 1.4rem;
}

.plist-item > a {
  display: flex;
}

.plist-item > a:link,
.plist-item > a:visited {
  padding: 2.4rem 1.2rem;
  border-radius: 1rem;
  background-color: #3d3d3d;
  text-align: center;
  text-decoration: none;
  font-size: 2rem;
  transition: all 0.3s;
}

.plist-item > a:hover,
.plist-item > a:active {
  box-shadow: 0 0 0 0.2rem rgba(230, 125, 34, 0.8);
}

.plist-item > a > b {
  margin: 0;
  color: #fd7e14;
}

.plist-item > a > p {
  margin: 0;
  color: #fecba1;
}

.allPlayersComparisons {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1.2rem;
  color: #fff;
}

.parallelFilters {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.parallelFilters > div > p,
.parallelFilters > div > fieldset > legend {
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
  color: #fff;
  margin-bottom: 1.2rem;
}

.parallelFilters > div > fieldset {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.parallelFilters > div > fieldset > div {
  color: #fff;
  font-size: 9px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.parallelFilters > div > fieldset > div > * {
  cursor: pointer;
}

.paralelPlayersSection {
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.paralelPlayersSection > h2 {
  color: #fff;
  font-size: 2.4rem;
}

.boxPlotSection {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(2, 1fr);
}

#parallelPosition {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #ececec;
  border-radius: 1rem;
  color: #fd7e14;
  font-weight: bold;
  border: 0;
}

#parallelPosition::placeholder {
  color: rgba(230, 125, 34, 0.8);
}

#parallelPosition:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5);
}

.numberInput > div {
  display: flex;
  gap: 1.2rem;
}

.numberInput > div input {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  background-color: #ececec;
  border-radius: 1rem;
  color: #fd7e14;
  font-weight: bold;
  border: 0;
  width: 7rem;
}

.numberInput > div input::placeholder {
  color: rgba(230, 125, 34, 0.8);
}

.numberInput > div input:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem rgba(230, 125, 34, 0.5);
}
